.create-contact-avatar-input {
  min-width: 60px;
  height: 60px;
  background-color: white;
  background-image: url("../../assets/icons/person.svg");
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: relative;
}
